/Client/Pangu/Library
/Client/Pangu/Temp
/Client/Pangu/UserSettings
/Client/Pangu/UnityEditor.TestRunner.csproj
/Client/Pangu/UnityEditor.UI.csproj
/Client/Pangu/UnityEngine.TestRunner.csproj
/Client/Pangu/UnityEngine.TestRunner.Player.csproj
/Client/Pangu/UnityEngine.UI.csproj
/Client/Pangu/UnityEngine.UI.Player.csproj
/Client/Pangu/.vsconfig
/Client/Pangu/Pangu.sln
/Client/Pangu/Unity.CollabProxy.Editor.csproj
/Client/Pangu/Unity.PlasticSCM.Editor.csproj
/Client/Pangu/Unity.Rider.Editor.csproj
/Client/Pangu/Unity.Services.Core.Editor.csproj
/Client/Pangu/Unity.TextMeshPro.csproj
/Client/Pangu/Unity.TextMeshPro.Editor.csproj
/Client/Pangu/Unity.TextMeshPro.Player.csproj
/Client/Pangu/Unity.Timeline.csproj
/Client/Pangu/Unity.Timeline.Editor.csproj
/Client/Pangu/Unity.Timeline.Player.csproj
/Client/Pangu/Unity.VisualStudio.Editor.csproj
/Client/Pangu/Unity.VSCode.Editor.csproj
/Client/Pangu/Unity.Services.Core.Threading.csproj
/Client/Pangu/Unity.Settings.Editor.csproj
/Client/Pangu/Unity.TestTools.CodeCoverage.Editor.csproj
/Client/Pangu/Unity.TestTools.CodeCoverage.Editor.OpenCover.Model.csproj
/Client/Pangu/Unity.TestTools.CodeCoverage.Editor.OpenCover.Mono.Reflection.csproj
/Client/Pangu/Unity.VisualScripting.Core.csproj
/Client/Pangu/Unity.VisualScripting.Core.Editor.csproj
/Client/Pangu/Unity.VisualScripting.Flow.csproj
/Client/Pangu/Unity.VisualScripting.Flow.Editor.csproj
/Client/Pangu/Unity.VisualScripting.SettingsProvider.Editor.csproj
/Client/Pangu/Unity.VisualScripting.Shared.Editor.csproj
/Client/Pangu/Unity.VisualScripting.State.csproj
/Client/Pangu/Unity.VisualScripting.State.Editor.csproj
/Client/Pangu/Unity.EditorCoroutines.Editor.csproj
/Client/Pangu/Unity.Performance.Profile-Analyzer.Editor.csproj
/Client/Pangu/Unity.Services.Core.Analytics.csproj
/Client/Pangu/Unity.Services.Core.Configuration.csproj
/Client/Pangu/Unity.Services.Core.Configuration.Editor.csproj
/Client/Pangu/Unity.Services.Core.csproj
/Client/Pangu/Unity.Services.Core.Device.csproj
/Client/Pangu/Unity.Services.Core.Environments.csproj
/Client/Pangu/Unity.Services.Core.Environments.Internal.csproj
/Client/Pangu/Unity.Services.Core.Internal.csproj
/Client/Pangu/Unity.Services.Core.Networking.csproj
/Client/Pangu/Unity.Services.Core.Registration.csproj
/Client/Pangu/Unity.Services.Core.Scheduler.csproj
/Client/Pangu/Unity.Services.Core.Telemetry.csproj
/Client/Pangu/Logs
/Client/Pangu/obj
/Client/Pangu/.vs
/Client/Pangu/Assembly-CSharp.csproj
/Client/Pangu/*.csproj
/Client/Pangu/Assembly-CSharp-Editor.csproj
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
