/Client/Pangu/Library
/Client/Pangu/Temp
/Client/Pangu/UserSettings
/Client/Pangu/UnityEditor.TestRunner.csproj
/Client/Pangu/UnityEditor.UI.csproj
/Client/Pangu/UnityEngine.TestRunner.csproj
/Client/Pangu/UnityEngine.TestRunner.Player.csproj
/Client/Pangu/UnityEngine.UI.csproj
/Client/Pangu/UnityEngine.UI.Player.csproj
/Client/Pangu/.vsconfig
/Client/Pangu/Pangu.sln
/Client/Pangu/Unity.CollabProxy.Editor.csproj
/Client/Pangu/Unity.PlasticSCM.Editor.csproj
/Client/Pangu/Unity.Rider.Editor.csproj
/Client/Pangu/Unity.Services.Core.Editor.csproj
/Client/Pangu/Unity.TextMeshPro.csproj
/Client/Pangu/Unity.TextMeshPro.Editor.csproj
/Client/Pangu/Unity.TextMeshPro.Player.csproj
/Client/Pangu/Unity.Timeline.csproj
/Client/Pangu/Unity.Timeline.Editor.csproj
/Client/Pangu/Unity.Timeline.Player.csproj
/Client/Pangu/Unity.VisualStudio.Editor.csproj
/Client/Pangu/Unity.VSCode.Editor.csproj
